	body{
		margin:0;
	}
	
	
	.Top{
		background-color:#fbfbfb;
		width:auto;
		height:auto;
		border-bottom: solid 1px #CCC;
	}
	.Top input{
		margin-top:10px;
		margin-bottom:5px;
	}
	
	.Top h5{
		margin-top:10px;
		margin-bottom:5px;
		
	}
	
	.Top select{
		margin-top:10px;		
		margin-bottom:5px;
	}
	.Top button{
		margin-top:10px;	
		margin-bottom:5px;
	}

	.Center{	
		margin-top:5px;
		width:auto;
		height:auto;
		border: solid 1px #CCC;
	}
	.Center table{
		border-spacing: 0px;
		margin-top: 0px;
    	text-align: center;
    	width:100%;
	}
	.head{
		background: #f0e6f0;
   	 	border: #CCC solid 1px;
	    font-weight: bold;
    	text-align: center;
    	height: 35px;
    	line-height: 35px;
		
	}
	.body td{
		border: #CCC solid 1px;
		height: 32px;
   	 	line-height: 32px;
	}
	.body tr :hover{
		background-color:#f7f9fd;
	}

	.body .action :hover{
		color:#666699;
	}
	.body .action span{
		color:#8080c0;
		cursor:pointer;
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
	}
	
	
	
	