<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqc.dao.Categ3IndexWithPharmMapper">
  <resultMap id="BaseResultMap" type="com.sqc.bean.Categ3IndexWithPharm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="categ_id" jdbcType="CHAR" property="categId" />
    <result column="pharm_id" jdbcType="CHAR" property="pharmId" />
    <result column="categ_index" jdbcType="REAL" property="categIndex" />
    <result column="days" jdbcType="REAL" property="days" />
    <result column="sales" jdbcType="REAL" property="sales" />
    <result column="statis_date" jdbcType="DATE" property="statisDate" />
  </resultMap>
  
   <resultMap id="WithPharmAndDistrictResultMap" type="com.sqc.bean.Categ3IndexWithPharm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="categ_id" jdbcType="CHAR" property="categId" />
    <result column="pharm_id" jdbcType="CHAR" property="pharmId" />
    <result column="categ_index" jdbcType="REAL" property="categIndex" />
    <result column="days" jdbcType="REAL" property="days" />
    <result column="sales" jdbcType="REAL" property="sales" />
    <result column="statis_date" jdbcType="DATE" property="statisDate" />
    <association property="category" javaType="com.sqc.bean.Category">
    	<id column="cid" property="categId"/>
    	<result column="categ_name" jdbcType="VARCHAR" property="categName" />
    	<result column="level" jdbcType="CHAR" property="level" />    
    </association>
    <association property="pharmacy" javaType="com.sqc.bean.Pharmacy">
    	<id column="phid" property="pharmId"/>
    	<result column="pharm_name" jdbcType="VARCHAR" property="pharmName" />
    	<result  column="district_id" jdbcType="CHAR" property="districtId" />
    	<association property="district" javaType="com.sqc.bean.District">
    		  <id column="did" property="districtId"/>
    		  <result column="province" jdbcType="VARCHAR" property="province" />
    		  <result column="city" jdbcType="VARCHAR" property="city" />
    		  <result column="county" jdbcType="VARCHAR" property="county" />
    	</association>
    </association>
  </resultMap>
  
   <resultMap id="WithDisAndPharmResultMap" type="com.sqc.bean.Categ3IndexWithPharm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="categ_id" jdbcType="CHAR" property="categId" />
    <result column="pharm_id" jdbcType="CHAR" property="pharmId" />
    <result column="categ_index" jdbcType="REAL" property="categIndex" />
    <result column="days" jdbcType="REAL" property="days" />
    <result column="sales" jdbcType="REAL" property="sales" />
    <result column="statis_date" jdbcType="DATE" property="statisDate" />
    <association property="pharmacy" javaType="com.sqc.bean.Pharmacy">
    	<id column="phid" property="pharmId"/>
    	<result column="pharm_name" jdbcType="VARCHAR" property="pharmName" />
    	<result  column="district_id" jdbcType="CHAR" property="districtId" />
    	<association property="district" javaType="com.sqc.bean.District">
    		  <id column="did" property="districtId"/>
    		  <result column="province" jdbcType="VARCHAR" property="province" />
    		  <result column="city" jdbcType="VARCHAR" property="city" />
    		  <result column="county" jdbcType="VARCHAR" property="county" />
    	</association>
    </association>
  </resultMap>
  
     <resultMap id="WithCityIndexResultMap" type="com.sqc.bean.Categ3IndexWithPharm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="categ_id" jdbcType="CHAR" property="categId" />
    <result column="pharm_id" jdbcType="CHAR" property="pharmId" />
    <result column="categ_index" jdbcType="REAL" property="categIndex" />
    <result column="days" jdbcType="REAL" property="days" />
    <result column="sales" jdbcType="REAL" property="sales" />
    <result column="statis_date" jdbcType="DATE" property="statisDate" />
    <association property="pharmacy" javaType="com.sqc.bean.Pharmacy">
    	<id column="phid" property="pharmId"/>
    	<result column="pharm_name" jdbcType="VARCHAR" property="pharmName" />
    	<result  column="district_id" jdbcType="CHAR" property="districtId" />
    </association>
    <association property="category" javaType="com.sqc.bean.Category">
    	<id column="c_id" property="categId"/>
    	<result column="categ_name" jdbcType="VARCHAR" property="categName" />
    	<result column="level" jdbcType="CHAR" property="level" />    
    </association>
        <association property="categ3Index" javaType="com.sqc.bean.Categ3Index">
        <id column="cityindex_id" jdbcType="INTEGER" property="id" />
        <result column="city_categ_index" jdbcType="REAL" property="categIndex" />
        <result column="city_categ_avg_price" jdbcType="REAL" property="categAvgPrice" />
    </association>
  </resultMap>
  
  
  
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, categ_id, pharm_id,
     FORMAT(categ_index, 3)  as categ_index, days, sales, statis_date
  </sql>
  
   <sql id="With_Pharm_And_District_Column_List">
     a.`categ_id` as cid, a.`categ_name`,a.`level`,
     b.`categ_id`, b.`pharm_id`,
     FORMAT(b.`categ_index`, 3)  as categ_index,
     b.`days`,b.`sales`,b.`statis_date`,
     c.`pharm_id` phid, c.`pharm_name`,
     d.`district_id` did, d.`province`,d.`city`, d.`county`
  </sql>
  
  <sql id="With_DisAndPharm_Column_List">
     b.`categ_id`, b.`pharm_id`,
     FORMAT(b.`categ_index`, 3)  as categ_index,
     b.`days`,b.`sales`,b.`statis_date`,
     c.`pharm_id` phid, c.`pharm_name`,
     d.`district_id` did, d.`province`,d.`city`, d.`county`
  </sql>
          <sql id="selectCompareIndexByIdAndStatisDate_List">
     b.`categ_id`,c.`categ_name`, b.`pharm_id`,d.`pharm_name`,
     FORMAT(a.`categ_index`, 3) as city_categ_index,
     FORMAT(b.`categ_index`, 3)  as categ_index,
     b.`statis_date`
  </sql>
  
  
     <!-- List<Categ3IndexWithPharm> selectCompareIndex(Map<String, Object> map); -->
   <select id="selectCompareIndex" parameterType="map" resultMap="WithCityIndexResultMap">   
  
  SELECT b.`categ_id`,c.`categ_name`,d.`pharm_name`,b.`pharm_id`,a.`categ_index` city_categ_index,b.`categ_index`,b.`statis_date`
FROM `t_category` c JOIN t_categ3index a ON c.`categ_id`=a.`categ_id` 
JOIN `t_categ3index_with_pharm` b  ON a.`categ_id`=b.`categ_id` AND a.`statis_date`=b.`statis_date`
JOIN `t_pharmacy` d ON b.`pharm_id`=d.`pharm_id`
   WHERE   year(b.`statis_date`)=#{year}   
   AND month(b.`statis_date`)=#{month}
   and b.`categ_index`NOT BETWEEN (1+#{decrease})*a.`categ_index`AND (1+#{rise})*a.`categ_index`
     <if test="categName!=null"> and	
			c.categ_name LIKE CONCAT('%',#{categName},'%')
	</if>
	  <if test="classifybysmallId!=null and classifybysmallId!=''">
       AND b.`categ_id`=#{classifybysmallId}
    </if>
  </select> 
  
  <!-- List<Categ3IndexWithPharm> selectCompareIndexWithPharam(Map<String, Object> map); -->
 <select id="selectCompareIndexWithPharam" parameterType="map" resultMap="WithCityIndexResultMap">   
 SELECT
  <if test="distinct">
      distinct
  </if>
  <include refid="selectCompareIndexByIdAndStatisDate_List" />
   FROM `t_category` c JOIN t_categ3index a ON c.`categ_id`=a.`categ_id` 
   JOIN `t_categ3index_with_pharm` b  ON a.`categ_id`=b.`categ_id` AND a.`statis_date`=b.`statis_date`
   JOIN `t_pharmacy` d ON b.`pharm_id`=d.`pharm_id`
   WHERE   year(b.`statis_date`)=#{year}   
   AND month(b.`statis_date`)=#{month}
  AND b.`pharm_id`=#{drugstoreId}
   and b.`categ_index`NOT BETWEEN (1+#{decrease})*a.`categ_index`AND (1+#{rise})*a.`categ_index`
     <if test="categName!=null"> and	
			c.categ_name LIKE CONCAT('%',#{categName},'%')
	</if>
	  <if test="classifybysmallId!=null and classifybysmallId!=''">
       AND b.`categ_id`=#{classifybysmallId}
    </if>
  </select>
  
  
  
  
  
  
  
  
  
  
  
   <!-- List<Categ3IndexWithPharm> selectByStatisDateWithCategNameAndDrugStore(Map<String, Object> map); -->
   <select id="selectByStatisDateWithCategNameAndDrugStore" parameterType="map" resultMap="WithPharmAndDistrictResultMap">
     select
    <if test="distinct">
      distinct
    </if>
    <include refid="With_Pharm_And_District_Column_List" />
     FROM t_category a JOIN t_categ3index_with_pharm b ON a.`categ_id`=b.`categ_id`
     JOIN t_pharmacy c ON b.`pharm_id`=c.`pharm_id`
     JOIN t_district d ON c.`district_id`=d.`district_id`
     WHERE b.`pharm_id`=#{drugstoreId}
     AND YEAR(b.`statis_date`)=#{statisYear} AND MONTH(b.`statis_date`)=#{statisMonth}
     <if test="categName!=null"> and	
			a.categ_name LIKE CONCAT('%',#{categName},'%')
	</if>
     <if test="indexSort!=null" >
			order by 
	 </if>
	 <if test="indexSort=='desc'">
			b.categ_index DESC
	 </if>
	 <if test="indexSort=='asc'">
			b.categ_index ASC
	 </if>
  </select>
 
    <!-- List<Map<String, Object>> selectRecentCateg3IndicesById(Map<String, String> map);  -->
   <select id="selectRecentCateg3IndicesById" parameterType="map" resultType="map">
		select DATE_FORMAT(t.maxtime,"%Y-%m") maxtime,FORMAT(baselyindex, 3) as baselyindex,
			FORMAT(monthlyindex, 3) as monthlyindex ,
			FORMAT(yearlyindex, 3) as yearlyindex 
		from(
			select max(statis_date) as maxtime,baselyindex,monthlyindex,yearlyindex
		    from v_categ3index_with_pharm 
		    where categ_id=#{categId}
		    and pharm_id=#{pharmId}
		    group by statis_date) t
		where t.maxtime BETWEEN SUBDATE(CURDATE(),INTERVAL 12 month) AND CURDATE();
	</select>
  <!--根据药品Id和统计日期选择，主要为了进行横向对比
	List<Categ3IndexWithPharm> selectByIdAndStatisDate(Map<String, Object> map); 
	 -->
   <select id="selectByIdAndStatisDate" parameterType="map" resultMap="WithDisAndPharmResultMap">
    select 
    <include refid="With_DisAndPharm_Column_List" />
    from t_categ3index_with_pharm b JOIN t_pharmacy c ON b.`pharm_id`=c.`pharm_id`
     JOIN t_district d ON c.`district_id`=d.`district_id`
    where categ_id = #{categId}
    and YEAR(statis_date)=#{year} AND MONTH(statis_date)=#{month}
  </select>
  
  <select id="selectByExample" parameterType="com.sqc.bean.Categ3IndexWithPharmExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_categ3index_with_pharm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_categ3index_with_pharm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_categ3index_with_pharm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sqc.bean.Categ3IndexWithPharmExample">
    delete from t_categ3index_with_pharm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sqc.bean.Categ3IndexWithPharm">
    insert into t_categ3index_with_pharm (id, categ_id, pharm_id, 
      categ_index, days, sales, statis_date
      )
    values (#{id,jdbcType=INTEGER}, #{categId,jdbcType=CHAR}, #{pharmId,jdbcType=CHAR}, 
      #{categIndex,jdbcType=REAL}, #{days,jdbcType=REAL}, #{sales,jdbcType=REAL}, #{statisDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sqc.bean.Categ3IndexWithPharm">
    insert into t_categ3index_with_pharm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categId != null">
        categ_id,
      </if>
      <if test="pharmId != null">
        pharm_id,
      </if>
      <if test="categIndex != null">
        categ_index,
      </if>
      <if test="days != null">
        days,
      </if>
      <if test="sales != null">
        sales,
      </if>
      <if test="statisDate != null">
        statis_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categId != null">
        #{categId,jdbcType=CHAR},
      </if>
      <if test="pharmId != null">
        #{pharmId,jdbcType=CHAR},
      </if>
      <if test="categIndex != null">
        #{categIndex,jdbcType=REAL},
      </if>
      <if test="days != null">
        #{days,jdbcType=REAL},
      </if>
      <if test="sales != null">
        #{sales,jdbcType=REAL},
      </if>
      <if test="statisDate != null">
        #{statisDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sqc.bean.Categ3IndexWithPharmExample" resultType="java.lang.Long">
    select count(*) from t_categ3index_with_pharm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_categ3index_with_pharm
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.categId != null">
        categ_id = #{record.categId,jdbcType=CHAR},
      </if>
      <if test="record.pharmId != null">
        pharm_id = #{record.pharmId,jdbcType=CHAR},
      </if>
      <if test="record.categIndex != null">
        categ_index = #{record.categIndex,jdbcType=REAL},
      </if>
      <if test="record.days != null">
        days = #{record.days,jdbcType=REAL},
      </if>
      <if test="record.sales != null">
        sales = #{record.sales,jdbcType=REAL},
      </if>
      <if test="record.statisDate != null">
        statis_date = #{record.statisDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_categ3index_with_pharm
    set id = #{record.id,jdbcType=INTEGER},
      categ_id = #{record.categId,jdbcType=CHAR},
      pharm_id = #{record.pharmId,jdbcType=CHAR},
      categ_index = #{record.categIndex,jdbcType=REAL},
      days = #{record.days,jdbcType=REAL},
      sales = #{record.sales,jdbcType=REAL},
      statis_date = #{record.statisDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sqc.bean.Categ3IndexWithPharm">
    update t_categ3index_with_pharm
    <set>
      <if test="categId != null">
        categ_id = #{categId,jdbcType=CHAR},
      </if>
      <if test="pharmId != null">
        pharm_id = #{pharmId,jdbcType=CHAR},
      </if>
      <if test="categIndex != null">
        categ_index = #{categIndex,jdbcType=REAL},
      </if>
      <if test="days != null">
        days = #{days,jdbcType=REAL},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=REAL},
      </if>
      <if test="statisDate != null">
        statis_date = #{statisDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sqc.bean.Categ3IndexWithPharm">
    update t_categ3index_with_pharm
    set categ_id = #{categId,jdbcType=CHAR},
      pharm_id = #{pharmId,jdbcType=CHAR},
      categ_index = #{categIndex,jdbcType=REAL},
      days = #{days,jdbcType=REAL},
      sales = #{sales,jdbcType=REAL},
      statis_date = #{statisDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>