<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqc.dao.DrugIndexWithPharmMapper">
  <resultMap id="BaseResultMap" type="com.sqc.bean.DrugIndexWithPharm">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pharm_id" jdbcType="CHAR" property="pharmId" />
    <result column="drug_id" jdbcType="CHAR" property="drugId" />
    <result column="drug_index" jdbcType="REAL" property="drugIndex" />
    <result column="avg_price" jdbcType="REAL" property="avgPrice" />
    <result column="days" jdbcType="REAL" property="days" />
    <result column="sales" jdbcType="REAL" property="sales" />
    <result column="statis_date" jdbcType="DATE" property="statisDate" />
  </resultMap>
   <resultMap id="WithPharmAndDistrictResultMap" type="com.sqc.bean.DrugIndexWithPharm">
     <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pharm_id" jdbcType="CHAR" property="pharmId" />
    <result column="drug_id" jdbcType="CHAR" property="drugId" />
    <result column="drug_index" jdbcType="REAL" property="drugIndex" />
    <result column="avg_price" jdbcType="REAL" property="avgPrice" />
    <result column="days" jdbcType="REAL" property="days" />
    <result column="sales" jdbcType="REAL" property="sales" />
    <result column="statis_date" jdbcType="DATE" property="statisDate" />
    <association property="drug" javaType="com.sqc.bean.Drug">
    	<id column="did" property="drugId"/>
    	<result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    	<result column="common_drug_name" jdbcType="VARCHAR" property="commonDrugName" />
        <result column="dosage_form" jdbcType="VARCHAR" property="dosageForm" />
        <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber" />
        <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
        <result column="spec" jdbcType="VARCHAR" property="spec" />
    </association>
    <association property="pharmacy" javaType="com.sqc.bean.Pharmacy">
    	<id column="phid" property="pharmId"/>
    	<result column="pharm_name" jdbcType="VARCHAR" property="pharmName" />
    	<result  column="district_id" jdbcType="CHAR" property="districtId" />
    	<association property="district" javaType="com.sqc.bean.District">
    		  <id column="disid" property="districtId"/>
    		  <result column="province" jdbcType="VARCHAR" property="province" />
    		  <result column="city" jdbcType="VARCHAR" property="city" />
    		  <result column="county" jdbcType="VARCHAR" property="county" />
    	</association>
    </association>
  </resultMap>
  
  <resultMap id="WithPharmAndDisResultMap" type="com.sqc.bean.DrugIndexWithPharm">
     <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pharm_id" jdbcType="CHAR" property="pharmId" />
    <result column="drug_id" jdbcType="CHAR" property="drugId" />
    <result column="drug_index" jdbcType="REAL" property="drugIndex" />
    <result column="avg_price" jdbcType="REAL" property="avgPrice" />
    <result column="days" jdbcType="REAL" property="days" />
    <result column="sales" jdbcType="REAL" property="sales" />
    <result column="statis_date" jdbcType="DATE" property="statisDate" />
    <association property="pharmacy" javaType="com.sqc.bean.Pharmacy">
    	<id column="phid" property="pharmId"/>
    	<result column="pharm_name" jdbcType="VARCHAR" property="pharmName" />
    	<result  column="district_id" jdbcType="CHAR" property="districtId" />
    	<association property="district" javaType="com.sqc.bean.District">
    		  <id column="disid" property="districtId"/>
    		  <result column="province" jdbcType="VARCHAR" property="province" />
    		  <result column="city" jdbcType="VARCHAR" property="city" />
    		  <result column="county" jdbcType="VARCHAR" property="county" />
    	</association>
    </association>
  </resultMap>
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pharm_id, drug_id, drug_index, avg_price, days, sales, statis_date
  </sql>
    <sql id="With_Pharm_And_District_Column_List">
     a.`drug_id` did,a.`drug_name`,a.`common_drug_name`,a.`dosage_form`,a.`approval_number`,
     a.`manufacturer`,CONCAT(a.specifications,a.spec_unit,'*',a.numbers,a.num_unit) AS spec,
     b.`drug_id`, b.`pharm_id`,b.`drug_index`,b.`avg_price`,b.`days`,b.`sales`,b.`statis_date`,
     c.`pharm_id` phid, c.`pharm_name`,
     d.`district_id` disid, d.`province`,d.`city`, d.`county`
  </sql>
  
    <sql id="With_DisAndPharm_Column_List">
     b.`drug_id`, b.`pharm_id`,b.`drug_index`,b.`avg_price`,b.`days`,b.`sales`,b.`statis_date`,
     c.`pharm_id` phid, c.`pharm_name`,
     d.`district_id` disid, d.`province`,d.`city`, d.`county`
  </sql>
  
   <!-- 在t_drugindex_with_pharm表中根据药品名和统计日期来查询指数信息
        List<DrugIndex> selectByStatisDateWithDrugNameAndPharm(Map<String, Object> map);
	 -->
   <select id="selectByStatisDateWithDrugNameAndPharm" parameterType="map" resultMap="WithPharmAndDistrictResultMap">
     select
    <if test="distinct">
      distinct
    </if>
    <include refid="With_Pharm_And_District_Column_List" />
     FROM t_drug a JOIN t_drugindex_with_pharm b ON a.`drug_id`=b.`drug_id`
     JOIN t_pharmacy c ON b.`pharm_id`=c.`pharm_id`
     JOIN t_district d ON c.`district_id`=d.`district_id`
     WHERE b.`pharm_id`=#{pharmId}
     AND YEAR(b.`statis_date`)=#{statisYear} AND MONTH(b.`statis_date`)=#{statisMonth}
     <if test="drugName!=null"> and	
			a.drug_name LIKE CONCAT('%',#{drugName},'%')
	</if>
     <if test="indexSort!=null" >
			order by 
	 </if>
	 <if test="indexSort=='desc'">
			b.drug_index DESC
	 </if>
	 <if test="indexSort=='asc'">
			b.drug_index ASC
	 </if>
  </select>
  
   <!--  统计最近一年某种药品的指数信息，从视图中查询
   List<Map<String, Object>> selectRecentIndicesById(Map<String, String> map);  -->
   <select id="selectRecentIndicesById" parameterType="map" resultType="map">
		select DATE_FORMAT(t.maxtime,"%Y-%m") maxtime,FORMAT(baselyindex, 3) as baselyindex,
			FORMAT(monthlyindex, 3) as monthlyindex ,
			FORMAT(yearlyindex, 3) as yearlyindex 
		from(
			select max(statis_date) as maxtime,baselyindex,monthlyindex,yearlyindex
		    from v_drugindex_with_pharm 
		    where drug_id=#{drugId}
		    and pharm_id=#{pharmId}
		    group by  statis_date ) t
		where t.maxtime BETWEEN SUBDATE(CURDATE(),INTERVAL 12 month) AND CURDATE();
	</select>
	
	<!--根据药品Id和统计日期选择，主要为了进行横向对比
	List<DrugIndexWithPharm> selectByIdAndStatisDate(Map<String, Object> map); 
	 -->
	 
	<select id="selectByIdAndStatisDate" parameterType="map" resultMap="WithPharmAndDisResultMap">
    select 
    <include refid="With_DisAndPharm_Column_List" />
    from t_drugindex_with_pharm b JOIN t_pharmacy c ON b.`pharm_id`=c.`pharm_id`
     JOIN t_district d ON c.`district_id`=d.`district_id`
    where drug_id = #{drugId}
    and YEAR(statis_date)=#{year} AND MONTH(statis_date)=#{month}
  </select>
  
  <select id="selectByExample" parameterType="com.sqc.bean.DrugIndexWithPharmExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_drugindex_with_pharm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_drugindex_with_pharm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_drugindex_with_pharm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sqc.bean.DrugIndexWithPharmExample">
    delete from t_drugindex_with_pharm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sqc.bean.DrugIndexWithPharm">
    insert into t_drugindex_with_pharm (id, pharm_id, drug_id, 
      drug_index, avg_price, days, sales, 
      statis_date)
    values (#{id,jdbcType=BIGINT}, #{pharmId,jdbcType=CHAR}, #{drugId,jdbcType=CHAR}, 
      #{drugIndex,jdbcType=REAL}, #{avgPrice,jdbcType=REAL}, #{days,jdbcType=REAL}, #{sales,jdbcType=REAL}, 
      #{statisDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.sqc.bean.DrugIndexWithPharm">
    insert into t_drugindex_with_pharm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pharmId != null">
        pharm_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="drugIndex != null">
        drug_index,
      </if>
      <if test="avgPrice != null">
        avg_price,
      </if>
      <if test="days != null">
        days,
      </if>
      <if test="sales != null">
        sales,
      </if>
      <if test="statisDate != null">
        statis_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pharmId != null">
        #{pharmId,jdbcType=CHAR},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=CHAR},
      </if>
      <if test="drugIndex != null">
        #{drugIndex,jdbcType=REAL},
      </if>
      <if test="avgPrice != null">
        #{avgPrice,jdbcType=REAL},
      </if>
      <if test="days != null">
        #{days,jdbcType=REAL},
      </if>
      <if test="sales != null">
        #{sales,jdbcType=REAL},
      </if>
      <if test="statisDate != null">
        #{statisDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sqc.bean.DrugIndexWithPharmExample" resultType="java.lang.Long">
    select count(*) from t_drugindex_with_pharm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_drugindex_with_pharm
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pharmId != null">
        pharm_id = #{record.pharmId,jdbcType=CHAR},
      </if>
      <if test="record.drugId != null">
        drug_id = #{record.drugId,jdbcType=CHAR},
      </if>
      <if test="record.drugIndex != null">
        drug_index = #{record.drugIndex,jdbcType=REAL},
      </if>
      <if test="record.avgPrice != null">
        avg_price = #{record.avgPrice,jdbcType=REAL},
      </if>
      <if test="record.days != null">
        days = #{record.days,jdbcType=REAL},
      </if>
      <if test="record.sales != null">
        sales = #{record.sales,jdbcType=REAL},
      </if>
      <if test="record.statisDate != null">
        statis_date = #{record.statisDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_drugindex_with_pharm
    set id = #{record.id,jdbcType=BIGINT},
      pharm_id = #{record.pharmId,jdbcType=CHAR},
      drug_id = #{record.drugId,jdbcType=CHAR},
      drug_index = #{record.drugIndex,jdbcType=REAL},
      avg_price = #{record.avgPrice,jdbcType=REAL},
      days = #{record.days,jdbcType=REAL},
      sales = #{record.sales,jdbcType=REAL},
      statis_date = #{record.statisDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sqc.bean.DrugIndexWithPharm">
    update t_drugindex_with_pharm
    <set>
      <if test="pharmId != null">
        pharm_id = #{pharmId,jdbcType=CHAR},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=CHAR},
      </if>
      <if test="drugIndex != null">
        drug_index = #{drugIndex,jdbcType=REAL},
      </if>
      <if test="avgPrice != null">
        avg_price = #{avgPrice,jdbcType=REAL},
      </if>
      <if test="days != null">
        days = #{days,jdbcType=REAL},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=REAL},
      </if>
      <if test="statisDate != null">
        statis_date = #{statisDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sqc.bean.DrugIndexWithPharm">
    update t_drugindex_with_pharm
    set pharm_id = #{pharmId,jdbcType=CHAR},
      drug_id = #{drugId,jdbcType=CHAR},
      drug_index = #{drugIndex,jdbcType=REAL},
      avg_price = #{avgPrice,jdbcType=REAL},
      days = #{days,jdbcType=REAL},
      sales = #{sales,jdbcType=REAL},
      statis_date = #{statisDate,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>